p1, p2, h1, h2, h3, h4, h5, ul, nav, th,td{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: normal;
    white-space: normal;
    text-indent: 10px;
}

p {
    column-count: 3;
    column-gap: 40px;
    column-fill: balance;
    column-rule-style: solid;
    column-rule-color:black;
    
}

p1{
    margin-block-start:10px;
    margin-block-end: 5px;
}

h1{
    font-size: 25px;
    position: relative;
    text-align: center;
    width: 1470px;
    height: 20px;

}

b1{
    font-style: italic;
    font-variant: small-caps;
    font-weight: 100;
    text-transform:capitalize;
    display: flex;
    flex-direction: row-reverse;
}

body {
    background-color:#f8f8ff;
}

input {
    accent-color: blue;
}

img.volleyball{
    max-height: fit-content;
    max-width: fit-content;
    object-fit: cover;
}

.title {
    align-content:center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: rgb(216, 248, 248);
    height: 50px;
    width: 1470px;
    display:flex;
    flex-wrap: wrap;
    animation-name: box;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    padding: 10px;
    border-style: solid;
    border-radius: 20px;
    border-color: black;
}

@keyframes box {
    0%{background-color:azure ;}
    10%{background-color: aqua;}
    20%{background-color: greenyellow;}
    30%{background-color:salmon}
    40%{background-color:blanchedalmond ;}
    50%{background-color:orchid ;}
    60%{background-color:bisque ;}
    70%{background-color:royalblue ;}
    80%{background-color:gold ;}
    90%{background-color:crimson ;}
    100%{background-color: azure;}

}
.box2 {
    background-color: ghostwhite;
    width: 300px;
    height: 350px;
    position: absolute;
    transition-property:width;
    transition-delay: 0s;
    transition-duration: 2s;
    border: 3px solid black;
    top: 90px;
    overflow:hidden
}

.VideoGames:hover .box2 {
    width:0px;
}

input {
    outline-style: solid;
    outline-width: 1px;
    outline-color: red;
}